.jumbotron {
    background: #e9daef;
}
.uk-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}
.uk-button-default {
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
}
.uk-button-default:hover, .uk-button-default:focus {
    background-color: transparent;
    color: #222;
    border-color: #b2b2b2;
}
.uk-button:hover {
    text-decoration: none;
}
a:active, a:hover, a:focus {
    outline: none;
}
button:active, button:hover, button:focus {
    outline: none;
}
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
    margin-bottom: 30px;
}