<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Network Example App</h1>
    </div>
  </div>
  <div class="container">
    <div class="text-center" id="fetch-HTML-container">
      <p>Update this HTML block by clicking below</p>
    </div>
    <button class="uk-button uk-button-default" onclick="getJSONFromCard()">Request JSON from API</button>
    <br><br>
    <p>Click will run a script to fetch /api/card as a json object with a hard coded value of HTML content.</p>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <p id="description-text" class="text-center">Update this HTML block by clicking below</pid="description-text" class="text-center">
      <div class="async-await-HTML-container col-xs-4 text-center"></div>
      <div class="async-await-HTML-container col-xs-4 text-center"></div>
      <div class="async-await-HTML-container col-xs-4 text-center"></div>
      <button class="uk-button uk-button-default" onclick="getJSONasync()">Request JSON from API</button>
      <br><br>
      <p>Click will run a similar script to fetch /api/card using async await syntax. This script selects 3 empty HTML containers and fills in similar HTML from the JSON response object.</p>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="text-center" id="XMLHttpRequest-HTML-container">
      <p>Update this HTML block by clicking below</p>
    </div>
    <button class="uk-button uk-button-default" onclick="getJSONXMLHttpRequest()">Request JSON from API</button>
    <br><br>
    <p>Click will run a script to run an XMLHttpRequest() to /api/card as a json object with a hard coded value of HTML content.</p>
    <hr>
  </div>
  <div class="container">
    <div class="text-center" id="postForm-HTML-container">
      <p>Update this HTML block by clicking below</p>
    </div>
    <form id="postForm">
      <input id="colorpicker" type="color" name="color" value="#c1b872">
      <input type="text" name="name" value="" placeholder="Type your name here">
      <input type="submit">
    </form>
    <br><br>
    <p>Click will run a script to collect form data and post it to /api/card.</p>
    <hr>
  </div>
</body>
<script>
// https://caniuse.com/#feat=fetch - Fetch currently has almost 93.5% overall coverage as of today
// baseURL may need to change from local dev to hosted
  var baseURL = 'http://localhost:5000';
  var url = baseURL + '/api/card';
  var getJSONFromCard = function executeGetJSON() { fetch(url)
    .then(response => response.json())
    .then(response => { 
      var cardResultSelection = document.querySelector('#fetch-HTML-container');
      cardResultSelection.innerHTML = response.fullwidthCard;
    });
  }
// Using async await syntax
  var getJSONasync = async function asyncGetJSON() { 
    var asyncResponse = await fetch(url);
    var asyncJSON = await asyncResponse.json();
    var cardResultSelection = document.querySelectorAll('.async-await-HTML-container')
      .forEach(HTMLcontainer => HTMLcontainer.innerHTML = asyncJSON.thirdCard);
    document.querySelector('#description-text').hidden = true;
    };
// The original Javascript way
  var getJSONXMLHttpRequest = function JSONXMLHttpRequest() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/card');
    xhr.responseType = 'json';
    xhr.send();
    xhr.onload = function() {
      var HTMLObject = xhr.response;
      var cardResultSelection = document.querySelector('#XMLHttpRequest-HTML-container');
      cardResultSelection.innerHTML = HTMLObject.fullwidthCard;
    };
    xhr.timeout = 4000;
  };
// form submit data with async fetch request
// var postForm = document.querySelector('#postForm');
postForm.onsubmit = async (defaultEvent) => {
  defaultEvent.preventDefault();
    var formJSONresponse = await fetch('/api/form', {
      method: 'POST',
      body: new FormData(postForm)
    });
    var returnedJSON = await formJSONresponse.json();
    var cardResultSelection = document.querySelector('#postForm-HTML-container');
      cardResultSelection.innerHTML = returnedJSON[0].fullwidthCard;
    document.querySelector('#postForm-HTML-container div.card').setAttribute("style", `background:${returnedJSON[1].color}`);
    document.querySelector('#postForm-HTML-container div.card').innerText = `Hello, ${returnedJSON[1].name}`;
  };

</script>
</html>
